API_ID=12664474 # get this value from my.telegram.org
API_HASH=487ca15d6be5bdd32ce8ab67461f5436 # get this value from my.telegram.org
BOT_TOKEN=5530199355:AAFFIs__D6VsRoxqoBfLwwNwjEnwxufC4FQ # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001772233251 # get this value from in your log group 
MUSIC_BOT_NAME=music bot arnop # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
