API_ID=19722516 # get this value from my.telegram.org
API_HASH=041a11b1f107a0ddc732a1a4026d918b # get this value from my.telegram.org
BOT_TOKEN=5673063668:AAHu5hvoCqCiRjFb05h15-e77daYGfa9r94 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://shikhar:shikhar@cluster0.6xzlh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001463424967 # get this value from in your log group 
MUSIC_BOT_NAME=music bot arnop # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
