API_ID=9950990 # get this value from my.telegram.org
API_HASH=f20335094c36c3609f1e351f50d977ac # get this value from my.telegram.org
BOT_TOKEN=5641607915:AAHoTInoRaxC5w-Zhzxt9X2r0UtwoqWXe_s # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/yukki?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=pyrogram_string_session # get this value from @yukkistringbot
